/* --- Colours --- */

$highlight:  #ff8a17;

$primary:    #098485;
$blue:       #15b0bf;
$light-blue: #e9f8f9;

$black:      #414042;
$grey:       #b4b4b4;
$light-grey: #e8e8e5;

$green:      #94c651;
$yellow:     #ddad31;
$red:        #ef8482;

/* --- Typography --- */

$header-font: 'Montserrat', sans-serif;
$text-font:   'Open Sans',  sans-serif;

$h1-size:     32px;
$h2-size:     24px;
$h3-size:     20px;
$h4-size:     16px;
$text-size:   16px;

$h1-weight:   400;
$h2-weight:   400;
$h3-weight:   400;
$h4-weight:   700;
$text-weight: 400;

$h1-margin:   24px;
$h2-margin:   16px;
$h3-margin:   8px;
$h4-margin:   8px;
$text-margin: 8px;

/* --- Layout --- */

$min-calendar-height: 600px;
$max-calendar-width:  450px;
